#
# xMZ-Mod-Touch-Server systemd unit file
#
[Unit]
Description="Server Process der 'xMZ-Mod-Touch'-Platform"
After=xmz-mod-touch-configuration.service
#After=multi-user.target

[Service]
ExecStart=/usr/bin/xmz_mod_touch_server

[Install]
Alias=xmz-server.service
WantedBy=multi-user.target
