# xmz-mod-touch-server.service
#
# xMZ-Mod-Touch-Server systemd unit file. Startet den Server Teil.
#
[Unit]
Description="Server Process der 'xMZ-Mod-Touch'-Platform"
Requires = boot.mount
After = boot.mount
After=xmz-mod-touch-server-configuration.service

[Service]
ExecStart=/usr/bin/xmz-mod-touch-server

[Install]
Alias=xmz-server.service
WantedBy=multi-user.target
