# xmz-mod-touch-server.service
#
# xMZ-Mod-Touch-Server systemd unit file
#
[Unit]
Description = "Mounted die 1ste mmcblk0 Partition nach /boot"
DefaultDependencies = no
Conflicts = umount.target
Before = umount.target
StopWhenUnneeded = true

[Mount]
What = /dev/mmcblk0p1
Where = /boot
Type = vfat
Options = defaults

[Install]
WantedBy = multi-user.target
