# xmz-mod-touch-server-configuration.service
#
# xMZ-Mod-Touch-Server Configuration managment.
#
# Dieses Unit File prüft ob eine Konfigurationsdatei für die
# 'xMZ-Mod-Touch'-Platform im Verzeichnis /boot/ existiert.
#
# Sollte keine Konfigurationsdatei vorhanden sein, dann kopiert die Unit
# eine Default Konfigurationsdatei nach /boot.
#
[Unit]
Description="Prüft ob eine Konfigurationsdatei für den 'xMZ-Mod-Touch-Server' existiert"
ConditionPathExists=!/boot/xMZ-Mod-Touch.json
Conflicts=umount.target
Requires=boot.mount
After=boot.mount

[Service]
ExecStart=/bin/cp /usr/share/xmz-mod-touch-server/xMZ-Mod-Touch.json.production /boot/xMZ-Mod-Touch.json
ExecStartPost=/bin/systemctl stop boot.mount
Type=simple

[Install]
WantedBy=multi-user.target
